.header
	.header__container.container
		.header__logo.logo
			a.logo__href(href='#')
				img.logo__img(src='images/logo__img.png' alt='logo')
		button.hamburger-button.hamburger-button_htx
			span toggle menu
		ul.header__nav.nav
			li.nav__li.active
				a.nav__link(href='#') О компании
			li.nav__li
				a.nav__link(href='#') Каталог
			li.nav__li
				a.nav__link(href='#') Партнерам
			li.nav__li
				a.nav__link(href='#') Контакты
			li.nav__li.nav__li-serch.serch
				form(method='get' action='#')
					button.serch__button(onclick="event.preventDefault()")
						img.serch__icon(src='images/serch__icon.png' alt='serch')
					input.serch__input(placeholder='/Введите запрос...')