.slider
	.slider__container.container
		.slider__slide
			.slider__text
				.slider__title Ваш выбор, наша работа!
				a.slider__link(href='#') Узнать подробнее
			img.slider__img(src='images/slide__img.png')
		.slider__slide
			.slider__text
				.slider__title Ваш выбор, наша работа!
				a.slider__link(href='#') Узнать подробнее
			img.slider__img(src='images/slide__img.png')
		.slider__slide
			.slider__text
				.slider__title Ваш выбор, наша работа!
				a.slider__link(href='#') Узнать подробнее
			img.slider__img(src='images/slide__img.png')
		.slider__slide
			.slider__text
				.slider__title Ваш выбор, наша работа!
				a.slider__link(href='#') Узнать подробнее
			img.slider__img(src='images/slide__img.png')